services:
    remnanode:
        container_name: remnanode
        hostname: remnanode
        image: remnawave/node:{{ remna_node_version }}
        restart: always
        network_mode: host
        environment:
          NODE_PORT: {{ remna_app_port }}
          SECRET_KEY: {{ remna_ssl_cert }}